@using Helpfulcore.RenderingExceptions
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sug.Ut.PageContent
@using Sug.Ut.SitecoreExtensions.Extensions
@model RenderingModel
@{

    if (!Model.Rendering.Item.IsDerived(Templates.PageBody.TemplateId))
    {
        throw new RenderingParametersException("Data Source");
    }
}
<p>
	@Html.Sitecore().Field(Templates.PageBody.FieldNames.PageBody, Model.Rendering.Item)
</p>