<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <helpfulcore>
      <renderingExceptions>
        <logger type="Helpfulcore.Logging.LoggingService, Helpfulcore.Logging" singleInstance="true" >
          <param name="provider" ref="helpfulcore/renderingExceptions/fileLogProvider"/>
        </logger>
        <fileLogProvider type="Helpfulcore.Logging.NLog.NLogLoggingProvider, Helpfulcore.Logging.NLog" logFilePath="$(dataFolder)/logs/RenderingExceptions.log.${date:format=yyyyMMdd}.txt" singleInstance="true">
          <param name="filePath">$(logFilePath)</param>
          <LogLevel>Debug</LogLevel>
        </fileLogProvider>
      </renderingExceptions>
    </helpfulcore>
    <pipelines>
      <mvc.renderRendering>
        <processor type="Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc">
          <patch:attribute name="type">Helpfulcore.RenderingExceptions.Pipelines.RenderRendering.ExecuteRenderer, Helpfulcore.RenderingExceptions</patch:attribute>
        </processor>
      </mvc.renderRendering>
    </pipelines>
  </sitecore>
</configuration>
