<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="shell">
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
      <site name="website">
        <patch:attribute name="rootPath">/sitecore/content/Websites/SUG</patch:attribute>
        <patch:attribute name="startItem">/home</patch:attribute>
        <patch:attribute name="database">web</patch:attribute>
        <patch:attribute name="disableClientData">false</patch:attribute>
        <patch:attribute name="htmlCacheSize">50MB</patch:attribute>
        <patch:attribute name="enablePreview">true</patch:attribute>
        <patch:attribute name="enableWebEdit">true</patch:attribute>
        <patch:attribute name="enableDebugger">true</patch:attribute>
        <patch:attribute name="domain">extranet</patch:attribute>
        <patch:attribute name="virtualFolder">/</patch:attribute>
        <patch:attribute name="physicalFolder">/</patch:attribute>
        <patch:attribute name="allowDebug">true</patch:attribute>
        <patch:attribute name="cacheHtml">true</patch:attribute>
        <patch:attribute name="content">master</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
      </site>
    </sites>
  </sitecore>
</configuration>