<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <linkManager>
      <providers>
        <add name="sitecore">
          <patch:attribute name="lowercaseUrls">true</patch:attribute>
          <patch:attribute name="languageEmbedding">never</patch:attribute>
          <patch:attribute name="languageLocation">filePath</patch:attribute>
        </add>
      </providers>
    </linkManager>
  </sitecore>
</configuration>